{% extends "base.html" %}

{% block title %} Venues {% endblock %}
{% block content %}

{% for venue in type_one_venues %}
<h1> {{ venue.name }} - Type 1 Venue</h1>
<p> {{ venue.description }} </p>
<li> Availability: </li>
<li> Status: </li>
<a href = "{% url 'reservation_request' venue.pk}">Book</a>
{% endfor %}

{% for venue in type_two_venues %}
<h1> {{ venue.name }} - Type 2 Venue</h1>
<p> {{ venue.description }} </p>
<li> Availability: </li>
<li> Status: </li>
<a href = "{% url 'reservation_request' venue.pk}">Book</a>
{% endfor %}

{% endblock %}